/* Default styles */
body {
    background-color: #27374D;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 0; /* Added to remove default margin */
    padding: 0; /* Added to remove default padding */
}

header {
    width: 100%;
    padding: 20px 0; /* Changed padding to apply both top and bottom */
}

#navbar {
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    border-radius: 15px;
    background-color: #526D82;
    padding: 10px 20px; /* Added padding */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 20px;
    display: block;
    color: #DDE6ED;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.3s, background-color 0.3s; /* Moved transition from hover to its own line */
    background-color: #9DB2BF;
    border-radius: 15px;
}
 
.flex-content, .name, .testimonials {
    display: flex;
    flex-direction: row; /* Changed flex-direction to column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    gap: 40px;
    padding: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 25px; /* Added border-radius to match image */
    max-width: 80vw; /* Adjusted width to take 80% of the viewport width */
    
}

img {
    border-radius: 25px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 0.3s; /* Moved transition from img:hover to its own line */
}

#tagline, #about {
    width: 100%; /* Changed width to 100% */
}

.flex-container {
    padding-top: 50px; /* Adjusted padding-top */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
}

a {
    color: white;
}

footer {
    padding-top: 30px;
}

.namecards, .review {
    display: flex;
    flex-direction: column; /* Changed flex-direction to column */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
}

.namepics {
    gap: 20px;
    border-radius: 25px;
}

.nameabout {
    padding: 20px;
}


@media only screen and (max-width: 600px) {
    .flex-content, .name {
        width: 70vw; /* Adjusted width for smaller screens */
        flex-direction: column;
    }
    img {
        width: 200px;
    }
}

/* Medium devices (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .flex-content, .name {
        width: 70vw; /* Adjusted width for medium screens */
        flex-direction: column;
    }
}


